<a href="https://colab.research.google.com/github/augustoberwaldt/mackenzie/blob/main/Analise_de_dados_tarefa3_visualizacao_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>


  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

VISUALIZAÇÃO DE DADOS PARA TOMADA DE DECISÃO - TURMA 01A

Augusto Marlon Berwaldt de Oliveira

**Os dados**
A Agência Nacional do Petróleo, Gás Natural e Biocombustíveis ( ANP ) divulga semanalmente os preços do gás, diesel e outros combustíveis utilizados no transporte em todo o país. Esses conjuntos de dados trazem o valor médio por litro, número de postos analisados ​​e outras informações agrupadas por regiões e estados de todo o país. https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/augustoberwaldt/mackenzie/main/2004-2021.tsv', sep='\t', header=0)
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [4]:
df.describe(include='all')

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
count,120823,120823,120823,120823,120823,120823.000000,120823,120823.000000,120823.000000,120823.000000,120823.000000,120823,120823.000000,120823,120823,120823,120823,120823
unique,873,873,5,27,9,NaN,3,NaN,NaN,NaN,NaN,12885,NaN,17170,6144,23163,24267,400
top,2021-03-07,2021-03-13,NORDESTE,PARAIBA,GASOLINA COMUM,NaN,R$/l,NaN,NaN,NaN,NaN,-99999.0,NaN,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
freq,180,180,41671,4819,23570,NaN,82793,NaN,NaN,NaN,NaN,5517,NaN,5508,5508,5508,5508,5508
mean,NaN,NaN,NaN,NaN,NaN,221.066461,NaN,11.473440,0.684132,9.977821,13.233902,NaN,0.045298,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,387.940239,NaN,19.161823,1.403317,16.433783,22.451445,NaN,0.024763,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.766000,0.000000,0.590000,0.999000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,39.000000,NaN,2.157000,0.075000,1.989000,2.420000,NaN,0.029000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,99.000000,NaN,2.899000,0.121000,2.690000,3.200000,NaN,0.041000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,226.000000,NaN,4.026000,0.204000,3.790000,4.589000,NaN,0.058000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,4167.000000,NaN,107.500000,10.748000,100.000000,120.000000,NaN,0.395000,NaN,NaN,NaN,NaN,NaN